# General files
*_secret*
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# emacs
\#*

# Configuration files
.env*
.env.local
.env.*.local
.env.build
.env.test
.env.production
.env.development
.env.staging

# Package manager files
**/node_modules/
**/yarn.lock
**/target

# Database files
/*.sqlite
/*.sqlite3
/*.db
/*.sql

# Log files
/logs/
*.log

# SSL Certificates
/*.key
/*.pem
/*.csr

# Keys and Secrets
**/keys/**
*.pem
*.key
*.pub
*.ppk
*.der
*.pfx
*.p12
*.asc
*.jks
*.keystore
*.json.key
*.gpg
*.gnupg
*.passwd
*.secret
*.ini
*.cfg
*.conf
*.crt
*.cer
*.der
*.pem
*.p12
*.pem.crt
*.pem.key

# Credentials files
*.bak
*.bakup
*.bak1
*.bak2
*.bkp
*.credentials
*.creds
*.dmp
*.sql.gz
*.sql.zip
*.tar
*.zip
*.rar
*.7z
*.tgz
*.gz
*.tar.gz
*.tar.bz2
*.bak.tar.gz
*.bak.tgz

# Other potential security-sensitive files
.htaccess
.htpasswd
.htpasswd.db
*.cache
*.bak
*.old
*.new
*.orig
*.rpm
*.deb
*.msi
*.dll
*.exe
*.jar
*.war
*.msc
*.class
*.pyc
*.pyo
*.egg-info/
*.egg
*.eggs/
*.egg-link
*.exe
*.bak
*.swp
*.swo
*~
*.old
*.new
*.orig
*.bak
*.save
*.wp-config.php
*.sql
*.sqlite
*.sqlite3
